<header class="container-fluid">
  <nav class="navbar justify-content-between">
    <span class="navbar-brand"><a href="https://trade.io"><%= image_tag "trade_io_LOGO h negative.png" %></a>Development Progress Tracker</span>
    <a href="https://github.com/tradeio" class="btn btn-light btn-outline">Visit us on GitHub</a>
  </nav>
</header>
